<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Tic Tac Toe
    </h1>
    <div class="panel">
        <div class="statusContainer">
            <div *ngIf="state === 0;then content else other_content"></div>
            <ng-template #content>
                <h2 *ngIf="turn">Your Turn</h2>
                <h2 *ngIf="!turn">Opponent Turn</h2>
            </ng-template>
            <ng-template #other_content>
                <h2 *ngIf="state === 1">You win</h2>
                <h2 *ngIf="state === 2">Opponent win</h2>
                <h2 *ngIf="state === 3">Finished draw</h2>
                <button (click)="restart()">Again</button>
            </ng-template>
        </div>
        <div class="boardContainer">
            <table id='board' [className]="state === 3 ? 'draw' : ''">
                <tbody>
                    <tr *ngFor="let row of board; let x = index">
                        <td *ngFor="let element of row; let y = index" (click)="move(x, y)" [className]="style[x][y]">{{element}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="historyContainer">
            <h4>Move history</h4>
            <table id="history">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>player</th>
                        <th>x</th>
                        <th>y</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let move of moveHistory; let i = index">
                        <th>{{i}}</th>
                        <td>{{move[2]}}</td>
                        <td>{{move[0]}}</td>
                        <td>{{move[1]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
